<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/4day/4day.css")
    script(src="https://use.fontawesome.com/fb1861bf7a.js")
    script(src="https://code.jquery.com/jquery-2.2.3.min.js")
    script(type="text/javascript", src="js/toguru.min.js")
  body
    section#head
      .inner
        h2.head1 見出しパターン1
        h2.head2 見出しパターン2
        h2.head3 見出しパターン3
        h2.head4 見出しパターン4
        h2.head5 見出しパターン5
        h2.head6 見出しパターン6
        .head-box
          h2.head7 見出しパターン7
                  <br>
                  span.left
                  | パターン7を改行した時
        h2.head8 見出しパターン8
        h2.head9 見出しパターン9
        .head10-box
          h2.head10 見出しパターン10
        h2.head11 見出しパターン11
        .hed12-box
          span
            img(src="../img/check.svg", alt="")
          h2.head12 見出しパターン12
        .head13-box
          h2.head13 見出しパターン13
          span
            img(src="../img/musimegane.svg", alt="")
        h2.head14 見出しパターン14
        h2.head15 見出しパターン15
        h2.head16 見出しパターン16
        h2.head17 見出しパターン17
      <!-- .inner -->