<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title デイトラ2nd
    meta(name="description" content="デイトラ2ndを勉強中のサイト")
    meta(name="keywords" content="デイトラ, コーディング, HTML")
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP&display=swap&subset=japanese")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.css")
    
  body
    header
      .container
        .header-left
          h1
            a(href="#")
              img(src='../img/logo@2x.png' alt="logo")

          button(type="button").toguru
            span.fa.fa-bars(title="MENU")
        .header-right
          nav.nav-item.nav-global
            ul
              li
                a(href="#card" id="card_js") Card
              li
                a(href="#news" id="news_js") News
              li
                a(href="#price" id="price_js") Price
              li
                a(href="#access" id="access_js") Access
              li
                a(href="#contact" id="contact_js") Contact
    main#wrap
      section.conA
        
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              .text
                h2 一番伝えたいことを書く
                p リードリードリード
                a(href="#") お問い合わせ
              img(src="../img/mainvisual@2x.png" alt="")
            .swiper-slide
              .text
                h2 一番伝えたいことを書く
                p リードリードリード
                a(href="#") お問い合わせ
              img(src="../img/variation-69470_1280.jpg" alt="")
            .swiper-slide
              .text
                h2 一番伝えたいことを書く
                p リードリードリード
                a(href="#") お問い合わせ
              img(src="../img/search-2041815_1280.jpg" alt="")
            .swiper-slide
              .text
                h2 一番伝えたいことを書く
                p リードリードリード
                a(href="#") お問い合わせ
              img(src="../img/change-671374_1280.jpg" alt="")
            .swiper-slide
              .text
                h2 一番伝えたいことを書く
                p リードリードリード
                a(href="#") お問い合わせ
              img(src="../img/ore4.png" alt="")
          .swiper-button-prev
          .swiper-button-next
          .swiper-pagination
          
      section#card.position-now
        h2 Card
        .title-line
        .inner
          article
            a(href="#")
              .photo(style="background-image: url(./img/chomeko.png);")
              .card-text
                h3 タイトルタイトル
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

          article
            a(href="#")
              .photo(style="background-image: url(./img/chomeko.png);")
              .card-text
                h3 タイトルタイトル
                p テキストテキストテテキストテキストテキストキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

          article
            a(href="#")
              .photo(style="background-image: url(./img/chomeko.png);")
              .card-text
                h3 タイトルタイトル
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

          article
            a(href="#")
              .photo(style="background-image: url(./img/chomeko.png);")
              .card-text
                h3 タイトルタイトル
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

          article
            a(href="#")
              .photo(style="background-image: url(./img/chomeko.png);")
              .card-text
                h3 タイトルタイトル
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

          article
            a(href="#")
              .photo(style="background-image: url(./img/chomeko.png);")
              .card-text
                h3 タイトルタイトル
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

        <!-- .inner -->
      section#news.position-now
        .inner
          h2 News
          .title-line
          ul
            li
              .day 2019-01-30
              a.label.label1(href="") ラベル1
              a.text(href="") ニュースニュースニュースニュースニュースニュースニュースニュースニュース
            li
              .day 2019-01-30
              a.label.label2(href="") ラベル2
              a.text(href="") ニュースニュースニュースニュースニュースニュースニュースニュースニュース
            li
              .day 2019-01-30
              a.label.label3(href="") ラベル3
              a.text(href="") ニュースニュースニュースニュースニュースニュースニュースニュースニュース
            li
              .day 2019-01-30
              a.label.label1(href="") ラベル4
              a.text(href="") ニュースニュースニュースニュースニュースニュースニュースニュースニュースニュースニュースニュースニュース
            li
              .day 2019-01-30
              a.label.label1(href="") ラベル5
              a.text(href="") ニュースニュースニュースニュースニュースニュースニュースニュースニュース

          a.more(href="")
            p more

      section#price.position-now
        .inner
          h2 Price
          .title-line
          .price-box
            img(src='../img/price-img.png' alt="女性")
            .table-box
              table
                tr
                  th.th_2
                  th colomn1
                  th colomn2
                tr
                  th row1
                  td 100円
                  td 100円
                tr
                  th row2
                  td 6,000円
                  td 0円
                tr
                  th.th_3(rowspan="1") row3
                  td <span class="span_red">6,000円</span><br>
                    |
                    span.pan ※ 今だけ半額
                  td 0円
                tr
                  th row4
                  td 100円
                  td 100円
              p ※ 目安なので詳しくは
                a(href="#") お問い合わせ
                |ください。
          <!-- .inner -->
      section#access.position-now
        .inner
          h2 Access
          .title-line
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.528292663173!2d136.88258115124583!3d35.16838318022052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600376de737d9a29%3A0x95fb085c8053a6d2!2z44OK44OK44Gh44KD44KT5Lq65b2i!5e0!3m2!1sja!2sjp!4v1576240021306!5m2!1sja!2sjp" seamless style="border:0;" allowfullscreen=""></iframe>
          table
            tr
              td 住所
              td ほげほげほげのほげの場所
            tr
              td アクセス
              td 〇〇駅から右に５分
          a(href="https://goo.gl/maps/MFpPmW8S1rQt8C2JA")
            p Googleマップで見る
        <!-- .inner -->

      section#contact.position-now
        .inner
          h2 Contact
          .title-line
          form
            .form-content
              label(for="name") お名前
                span.requied 必須
              input.text-test(id="name"  name="name" type="text" placeholder="山田太郎")
            .form-content
              label(for="email") メールアドレス
                span.requied 必須
              input.text-test(id="email" name="email" type="text" placeholder="text@example.com")
            .form-content
              label(for="type") お問い合わせ種別
              select(id="type" name="type")
                option(value="" hidden) ーーー
                option セレクト１
                option セレクトB
                option セレクトC
            .form-content
              label(for="kanso") お問い合わせ内容
              textarea(id="kanso" name="kanso" placeholder="お問い合わせを入力してください")
            .form-content-razio
              label
                input(class="radio-test" type="radio" name="radio-name")
                |
                span ラジオ1
              label
                input(class="radio-test" type="radio" name="radio-name")
                |
                span ラジオ2
              label
                input(class="radio-test" type="radio" name="radio-name")
                |
                span ラジオ3
            .form-content-check
              label
                input(class="check-test" type="checkbox" name="check-name")
                |
                span
                  a(href="#") プライバシーポリシー
                |に合意する
            a.form-submit(href="#")
              p 送信する
        <!-- .inner -->
    footer
      section#footer
        .inner
          .flex
            .footA
              h2
                img(src="../img/logo@2x.png", alt="logo")
              p 住所：ほげほげのほげほげ
              p TEL：0000-00-0000
            nav.footB
              ul
                li
                  a(href="") Card
                li
                  a(href="") News
                li
                  a(href="") Price
                li
                  a(href="") Access
                li
                  a(href="") Contact
            .footC
              div
                span.icon1
                span.icon2
                span.icon3
          .footD
            p Copyright © 2018 @haniwa008 All rights reserved.
            p#PageTopBtn
              a(href="#wrap")
                img(src="../img/topbtn.svg", alt="ボタン")
        <!-- .inner -->
  script(src="https://use.fontawesome.com/fb1861bf7a.js")
  script(src="https://code.jquery.com/jquery-2.2.3.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="js/position-nav.min.js")
  script(src="js/toguru.min.js")
  script(src="js/topscroll.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.js")
  script(src="js/swiper.min.js")