<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/style.css")
    script(src="https://use.fontawesome.com/fb1861bf7a.js")
    script(src="https://code.jquery.com/jquery-2.2.3.min.js")
    script(type="text/javascript", src="js/toguru.min.js")
  body
    header
      .container
        .header-left
          h1.logo
            a(href="#")
              img(src='../img/logo@2x.png')

          button(type="button").toguru
            span.fa.fa-bars(title="MENU")
        .header-right
          nav.nav-item
            ul
              li
                a(href="#") Card
              li
                a(href="#") News
              li
                a(href="#") Price
              li
                a(href="#") Access
              li
                a(href="#") Contact
    main
      section.conA
        .inner
          .text
            h2 一番伝えたいことを書く
            p リードリードリード
            a(href="#") お問い合わせ
      section#card
        .inner
          .card-title
            h2 Card
          .card-box
            .card
              .card-img
              .card-text
                h3 タイトルタイトル
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

            .card
              .card-img
              .card-text
                h3 タイトルタイトル
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

            .card
              .card-img
              .card-text
                h3 タイトルタイトル
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

            .card
              .card-img
              .card-text
                h3 タイトルタイトル
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

            .card
              .card-img
              .card-text
                h3 タイトルタイトル
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

            .card
              .card-img
              .card-text
                h3 タイトルタイトル
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

        <!-- .inner -->
  footer