<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/style.css")
    script(src="https://use.fontawesome.com/fb1861bf7a.js")
    script(src="https://code.jquery.com/jquery-2.2.3.min.js")
    script(type="text/javascript", src="js/toguru.min.js")
  body
    header
      .container
        .header-left
          h1.logo
            a(href="#")
              img(src='../img/logo@2x.png')

          button(type="button").toguru
            span.fa.fa-bars(title="MENU")
        .header-right
          nav.nav-item
            ul
              li
                a(href="#") Card
              li
                a(href="#") News
              li
                a(href="#") Price
              li
                a(href="#") Access
              li
                a(href="#") Contact
    main
      section.conA
        .inner
          .text
            h2 一番伝えたいことを書く
            p リードリードリード
            a(href="#") お問い合わせ
      section#card
        h2 Card
        .title-line
        .inner
          article
            a(href="#")
              .photo(style="background-image: url(./img/chomeko.png);")
              .card-text
                h3 タイトルタイトル
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

          article
            a(href="#")
              .photo(style="background-image: url(./img/chomeko.png);")
              .card-text
                h3 タイトルタイトル
                p テキストテキストテテキストテキストテキストキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

          article
            a(href="#")
              .photo(style="background-image: url(./img/chomeko.png);")
              .card-text
                h3 タイトルタイトル
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

          article
            a(href="#")
              .photo(style="background-image: url(./img/chomeko.png);")
              .card-text
                h3 タイトルタイトル
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

          article
            a(href="#")
              .photo(style="background-image: url(./img/chomeko.png);")
              .card-text
                h3 タイトルタイトル
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

          article
            a(href="#")
              .photo(style="background-image: url(./img/chomeko.png);")
              .card-text
                h3 タイトルタイトル
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

        <!-- .inner -->
      section#news
        .inner
          h2 News
          .title-line
          ul.news-box
            li
              p.news-day 2019-01-30
              a.labels.label1(href="#")
                p ラベル1
              a.news-text(href="#") ニュースニュースニュースニュースニュースニュースニュースニュースニュース

            li
              p.news-day 2019-01-30
              a.labels.label2(href="#")
                p ラベル2
              a.news-text(href="#") ニュースニュースニュースニュースニュースニュースニュースニュースニュース

            li
              p.news-day 2019-01-30
              a.labels.label3(href="#")
                p ラベル3
              a.news-text(href="#") ニュースニュースニュースニュースニュースニュースニュースニュースニュース

            li
              p.news-day 2019-01-30
              a.labels.label1(href="#")
                p ラベル4
              a.news-text(href="#") ニュースニュースニュースニュースニュースニュースニュースニュースニュースニュースニュースニュースニュース

            li
              p.news-day 2019-01-30
              a.labels.label1(href="#")
                p ラベル5
              a.news-text(href="#") ニュースニュースニュースニュースニュースニュースニュースニュースニュース

          a.more(href="")
            p more
            img(src="../img/more.svg", alt="")

      section#price
        .inner
          h2 Price
          .title-line
          .price-box
            img(src='../img/price-img.png')
            .table-box
              table
                tr
                  th
                  th column1
                  th column2
                tr
                  td row1
                  td 100円
                  td 100円
                tr
                  td row2
                  td 6,000円
                  td 0円
                tr
                  td(rowspan="1") row3
                  td <span>6,000円</span><br>
                    | ※ 今だけ半額
                  td 0円
                tr
                  td row4
                  td 100円
                  td 100円
              p ※ 目安なので詳しくは
                a(href="#") お問い合わせ
                |ください。
          <!-- .inner -->
      section#access
        .inner
          h2 Access
          .title-line
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.528292663173!2d136.88258115124583!3d35.16838318022052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600376de737d9a29%3A0x95fb085c8053a6d2!2z44OK44OK44Gh44KD44KT5Lq65b2i!5e0!3m2!1sja!2sjp!4v1576240021306!5m2!1sja!2sjp" width="800" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          table
            tr
              td 住所
              td ほげほげほげのほげの場所
            tr
              td アクセス
              td 〇〇駅から右に５分
          a(href="")
            p Googleマップで見る
        <!-- .inner -->

  footer