header
  position: fixed
  width: 100%
  z-index: 100
  .container
    width: 100%
    .header-left img
      width: 200px
      vertical-align: text-bottom
    .navbar_toggle
      z-index: 9999
    .navbar_toggle_icon
      position: relative
      display: block
      height: 2px
      width: 30px
      background: #FFFFFF
      -webkit-transition: ease .5s
      transition: ease .5s

    .navbar_toggle_icon:nth-child(1)
      top: 0

    .navbar_toggle_icon:nth-child(2)
      margin: 8px 0

    .navbar_toggle_icon:nth-child(3)
      top: 0

    /*OPEN時の動き*/
    .toguru.open .navbar_toggle_icon:nth-child(1)
      top: 10px
      -webkit-transform: rotate(45deg)
      transform: rotate(45deg)

    .toguru.open .navbar_toggle_icon:nth-child(2)
      -webkit-transform: translateY(-50%)
      transform: translateY(-50%)
      opacity: 0

    .toguru.open .navbar_toggle_icon:nth-child(3)
      top: -10px
      -webkit-transform: rotate(-45deg)
      transform: rotate(-45deg)
    .menu ul li
      font-size: 1.6rem

    /*OPEN時の動き*/
    .menu.open
      height: 100vh
      -webkit-transform: translateX(0)
      transform: translateX(0)
      overflow-y: auto
      -webkit-overflow-scrolling: touch
    .link-current
      border-bottom: 2px solid red

@media (max-width: 767px)
  header
    display: flex
    height: 50px
    .container .link-current
      border-bottom: none
    .header-left
      background-color: $blue
      box-shadow: 0px 3px 3px #00000029
      height: 50px
      display: flex
      justify-content: space-between
      align-items: center
    .toguru
      margin-right: 20px
      color: $whit
      opacity: 0.5
    .menu
      -webkit-transform: translateX(-100%)
      transform: translateX(-100%)
      -webkit-transition: ease .9s
      transition: ease .9s
      display: flex
      .menu-block
        width: 175px
        height: auto
        background: rgba(0, 0, 0, 0.9)
      ul
        background-color: #FFFFFF
      li
        width: 200px
        padding: 15px 0 14px 20px
        border-bottom: 1px dashed #707070
        position: relative
        a
          color: #707070
          width: 100%
          display: inline-block
          &::after
            background-image: url(/img/arrow-b.svg)
            content: ''
            height: 20px
            position: absolute
            right: 5%
            top: 60%
            transform: translateY(-60%)
            width: 18px
          &:hover
            background: rgba(0, 0, 0, 0.4)
          a:hover
            color: $blue


@media (min-width: 768px)
  header
    background-color: $blue
    box-shadow: 0px 3px 3px #00000029
    height: 100px
    .container
      max-width: 1086px
      height: 100px
      display: flex
      margin: auto
      justify-content: space-between
      align-items: center
    .header-left .toguru
      display: none
    .menu
      font-family: 'Lato', sans-serif
      display: block !important
      margin-right: 12px
      ul
        display: flex
      li a
        display: block
        color: $whit
      li:not(first-child)
        padding-left: 30px