/* header */
header
  background-color: $blue
  box-shadow: 0px 3px 3px #00000029
  position: fixed
  z-index: 100
  width: 100%
  .container
    width: 100%
    .logo img
      width: 200px
      vertical-align: text-bottom
    .nav-item
      li
        font-size: 1.6rem
        a
          display: block
          color: $whit
  .link-current
    border-bottom: 2px solid red

@media (max-width: 767px)
  header
    display: flex
    height: 100px
    .header-left
      height: 100px
      display: flex
      justify-content: space-between
      align-items: center
    .toguru
      margin-right: 20px
      font-size: 30px
      color: $whit
      border: none
      outline: none
      background: none
      font-size: 28px
      opacity: 0.5
      padding: 0
    .header-right
      display: none
      background-color: $blue
      .nav-item
        li
          padding: 10px
        li a:hover
          background-image: linear-gradient(rgba(225,225,225,0.2),rgba(225,225,225,0.2))


@media (min-width: 768px)
  header
    height: 100px
    .container
      max-width: 1086px
      height: 100px
      display: flex
      margin: auto
      justify-content: space-between
      align-items: center
    .header-left .toguru
      display: none
    .header-right
      display: block !important
    .nav-item
      ul
        display: flex
      li:not(first-child)
        padding-left: 30px