/* news */
section#news
  .inner
    max-width: 838px
    margin: auto
  h2
    font-size: 6.0rem
    text-align: center
    color: $black
    padding-top: 60px
    padding-bottom: 28px
    font-family: $font_en
  .title-line
    background-color: #3F51B5
    height: 4.5px
    margin: auto
    margin-bottom: 85.5px
    width: 76px
  ul
    max-width: 838px
  li
    display: flex
    padding-top: 4px
    border-bottom: 1px solid #000
    margin-bottom: 18.5px
    padding-bottom: 13px
    &:last-child
      border-bottom: 0
    .label1
      background: #666666
    .label2
      background: #3f51b5
    .label3
      background: #e81919
  .day
    min-width: 85px
    height: 21px
    display: inline-block
  .label
    border-radius: 6px
    color: #ffffff
    margin: 0 30px
    width: 100px
    height: 30px
    display: flex
    justify-content: center
    align-items: center
  .text
    width: 576px
    color: #333333
  .more
    display: block
    width: 40px
    margin: auto
    margin-bottom: 29px
    position: relative
    font-family: $font_en
    font-size: 16px
    &::after
      position: absolute
      background-image: url("/img/more.svg")
      content: ''
      top: 55%
      right: -10px
      transform: translateY(-45%)
      width: 7px
      height: 11px
    p
      color: #e81919

  @media  (max-width: 767px)
    .label
      display: none
    .text
      margin: auto